In [27]:
# 0. Import the data
import pandas as pd 
import numpy as np

In [28]:
data={'Refinery Location':['Baytown','Baton Rouge','Texas City','Lake Charles','Whiting','Beaumont','Philadelphia','Pascagoula','Deer Park','Wood River','Port Arthur'],'Company':['Texas ExxonMobil','Louisiana ExxonMobil','Texas BP','Louisiana Citgo','Indiana BP','Texas ExxonMobil','Pennsylvania Sunoco','Mississippi Chevron','Texas partnership','Illinois WRB','Texas Premcor'],'Capacity':['567,000','503,000','467,720','429,500','410,000','348,500','335,000','330,000','329,800','306,000','289,000']}

# create data frame

In [29]:
# write your code here
df=pd.DataFrame(data)
print(df)

   Refinery Location               Company Capacity
0            Baytown      Texas ExxonMobil  567,000
1        Baton Rouge  Louisiana ExxonMobil  503,000
2         Texas City              Texas BP  467,720
3       Lake Charles       Louisiana Citgo  429,500
4            Whiting            Indiana BP  410,000
5           Beaumont      Texas ExxonMobil  348,500
6       Philadelphia   Pennsylvania Sunoco  335,000
7         Pascagoula   Mississippi Chevron  330,000
8          Deer Park     Texas partnership  329,800
9         Wood River          Illinois WRB  306,000
10       Port Arthur         Texas Premcor  289,000

# 1. What are the values of the mean and the median? Compare the answers and state which you prefer as a measure of location for these data and why. 1 decimal place

In [30]:
def mean_val():
  # write your code here
  df['Capacity'] = df['Capacity'].str.replace(',','').astype(int)
  tp=df['Capacity'].mean()
  return round(tp,1)
mean_val()

392320.0

In [31]:
def median_val():
    # write your code here
    tp=df['Capacity'].median()
    return round(tp,1)
median_val()

348500.0

## Why?? Median would be the prefered measure of location as it does not depend on other values. And 0.1 decimal is chosen because we are talking about capacity of a company,So no more than 1 decimal point is required

# 2. What are the values of the range and interquartile range? How do they differ? 1 decimal place
Ans:Range is between max and min and IQR is between Q1-Q3.From the data we can find that it is equally distributed as IQR has equal value as outside Q1 and Q3

In [32]:
def range_val():
  # write your code here
  tp=df.Capacity.max()-df.Capacity.min()
  return round(tp,1)
range_val()

278000

In [33]:

def iqr_val():
  temp=df.Capacity.quantile(0.75)-df.Capacity.quantile(0.25)
  return round(temp,1)
iqr_val()

118710.0

# 3. What are the values of variance (1 decimal place) and standard deviation(round off to 1 decimal places) for these data?

In [34]:
def std_val():
    tp=df['Capacity'].std()
    return round(tp,1)
std_val()

90148.6

In [35]:
def variance_val():
    tp=df['Capacity'].var()
    return round(tp,1)
variance_val()

8126773200.0

# 4. What is the z score for Pascagoula,Mississippi? What is the z score for Texas City,Texas? Interpret these z scores. Round off to 2 decimal places
Ans:Z score of Pascagoula is negative meaning it will be on left side of mean of normal distribution curve and postive meaning it will be towards the right side of the mean of the normal distribution curve

In [40]:
def z_miss():
  # write your code here
  tp=df[df['Refinery Location']=='Pascagoula'].Capacity-df.Capacity.mean()
  tp1=tp/df.Capacity.std()
  return round(tp1,2)
z_miss()

7   -0.69
Name: Capacity, dtype: float64

In [39]:
def z_texas():
  tp=df[df['Refinery Location']=='Texas City'].Capacity-df.Capacity.mean()
  tp2=tp/df.Capacity.std()
  return round(tp2,2)# write your code here
z_texas()

2    0.84
Name: Capacity, dtype: float64

# 5. Calculate the Pearsonian coefficient of skewness and kurtosis and comment on the skewness and kurtosis of this distribution. Round off to 2 decimal places
Ans: Skew is positive,so right is longer and mean median will be greater than mode. Kurtosis is negative meaning it will be flatter and will have the same mean and std

In [43]:
def skew_val():
    # write your code here
    tp=3*(df.Capacity.mean()-df.Capacity.median())/df.Capacity.std()
    return round(tp,2)
skew_val()

1.46

In [44]:
def kurtosis_val():
    # write your code here
    tp=df.Capacity.kurtosis()
    return round(tp,2)
kurtosis_val()

-0.48

# 6. Assume normal distribution probabilty that the capacity is less than 330000 . Round off to 2 decimal places

In [55]:
def probability_val():
  # write your code here
  tp=df[df['Capacity']<330000]
  tp2=len(tp)/float(len(df))
  return round(tp2,2)
probability_val()

0.27


---

# Times to travel to school (Question 7 to 10)
Twenty students from a statistics class each collected a random sample of times on how long it took students to get to class from their homes. All the sample sizes were 30. The resulting means and standard deviations are listed.

```
means = [22, 31, 18, 27, 20, 17, 26, 34, 23, 29, 27, 24, 14, 29, 37, 23, 26, 21, 30, 29]
stdevs = [3.7, 4.6, 2.4, 1.9, 3, 2.8, 1.9, 4.2, 2.6, 2.1, 1.4, 2.2, 3.1, 2.4, 2.8, 2.7, 1.8, 2, 2.2, 2.8]
```

# Using the above information, construct a dataframe named 'tt' in the code block below. Apart from the row index, the dataframe should have two columns namely 'means' and 'stdevs'. Also, use this dataframe to answer the following questions.

In [75]:
# write your code here
df2={'means':[22, 31, 18, 27, 20, 17, 26, 34, 23, 29, 27, 24, 14, 29, 37, 23, 26, 21, 30, 29],'stdevs':[3.7, 4.6, 2.4, 1.9, 3, 2.8, 1.9, 4.2, 2.6, 2.1, 1.4, 2.2, 3.1, 2.4, 2.8, 2.7, 1.8, 2, 2.2, 2.8]}
tt=pd.DataFrame(df2)

# 7. From the values in the dataframe, use pandas functions to print a good estimate for the population mean and standard deviation. Display as a tuple

In [78]:
def estimate_mean_std():
    # write your code here
    return (tt.means.mean(), tt.stdevs.mean()* np.sqrt(len(tt)))
estimate_mean_std()

(25.35, 11.761717561648894)

# 8. Calculate the mean and standard deviation of the means.  Display as a tuple. 2 decimal places

In [79]:
def mean_stdev():
    # write your code here
    tt_mean = round(tt.means.mean(), 2)
    tt_std = round(tt.means.std(), 2)
    return (tt_mean, tt_std)
mean_stdev()

(25.35, 5.78)

# 9. Check the sampling error for students 3, 7, and 14 (Indices 2, 6 and 13).  Display as a tuple

In [88]:
def error_val():
    std=tt['means'].std()
    std_3=std-tt['means'][2]
    std_7=std-tt['means'][6]
    std_17=std-tt['means'][13]
    return round(std_3,2),round(std_7,2), round(std_17,2)
error_val()

(-12.22, -20.22, -23.22)

# 10. Compare the standard deviation of the sample of the 20 means. Is that equal to the standard deviation from student 3 divided by the square root of the sample size? How about for student 7, or 14? (Indices 2, 6 and 13). Print "True" or "False" boolean value for comparison done for each student.  Display as a tuple

In [87]:
def compare_val():
    a = tt['means'].std()
    b = tt['stdevs'].iloc[2] / np.sqrt(len(tt))  
    c = tt['stdevs'].iloc[6] / np.sqrt(len(tt))
    d = tt['stdevs'].iloc[13] / np.sqrt(len(tt))
    return(a==b, a==c, a==d)
compare_val()

(False, False, False)