# 0. Import data

In [105]:
import pandas as pd

In [106]:
insurance = pd.read_csv('https://raw.githubusercontent.com/dhanyahari07/Data_Science/master/insurance.csv')

insurance.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

# 1.The largest amount paid by the insurance company last year to any beneficiary . 2 Decimal Place

In [107]:
def max_charge():
    # Write your code here
    tp=insurance.charges.max()
    return round(tp,2)
max_charge()

63770.43

# 2. A table similar to insurance, but with only the rows for smokers, and without the smoker column.

In [108]:
def new_table():
    # Write your code here
    df = insurance.loc[insurance['smoker'] == 'yes']
    del df['smoker']
    return df

In [109]:
new_table()

      age     sex     bmi  children     region      charges
0      19  female  27.900         0  southwest  16884.92400
11     62  female  26.290         0  southeast  27808.72510
14     27    male  42.130         0  southeast  39611.75770
19     30    male  35.300         0  southwest  36837.46700
23     34  female  31.920         1  northeast  37701.87680
...   ...     ...     ...       ...        ...          ...
1313   19  female  34.700         2  southwest  36397.57600
1314   30  female  23.655         3  northwest  18765.87545
1321   62    male  26.695         0  northeast  28101.33305
1323   42  female  40.370         2  southeast  43896.37630
1337   61  female  29.070         0  northwest  29141.36030

[274 rows x 6 columns]

# 3. Add column named predicted_paid that shows the amount we predict to pay to that beneficiary this year, if we predict that their cost this year will be the cost last year increased by 5% to insurance. round to 2 decimal places and enter

In [110]:
def predcicted():
    insurance["predicted_paid"]=round(insurance.charges.apply(lambda x:x*1.05),2)
    return insurance

In [111]:
predcicted()

,age,sex,bmi,children,smoker,region,charges,predicted_paid
0,19,female,27.900,0,yes,southwest,16884.92400,17729.17
1,18,male,33.770,1,no,southeast,1725.55230,1811.83
2,28,male,33.000,3,no,southeast,4449.46200,4671.94
3,33,male,22.705,0,no,northwest,21984.47061,23083.69
4,32,male,28.880,0,no,northwest,3866.85520,4060.20
...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,northwest,10600.54830,11130.58
1334,18,female,31.920,0,no,northeast,2205.98080,2316.28
1335,18,female,36.850,0,no,southeast,1629.83350,1711.33
1336,21,female,25.800,0,no,southwest,2007.94500,2108.34
1337,61,female,29.070,0,yes,northwest,29141.36030,30598.43

# 4.  A table containing one row per region, listing for each region the total amount of charges paid by the insurance company last year to all beneficiaries in that region. round 1 decimal places

In [112]:
def row_region():
  # Write your code here
  return round(insurance.pivot_table(index="region",values="charges",aggfunc='sum'),1)

In [113]:
row_region()

             charges
region
northeast  4343668.6
northwest  4035712.0
southeast  5363689.8
southwest  4012754.6

# 5. The name of the region with the smallest number of beneficiaries.

In [114]:
def smallest():
  # Write your code here
  df1 = insurance['region'].min()
  return df1

In [115]:
smallest()

'northeast'

# 6. Write a function that takes an age as a parameter, and returns the average BMI of all beneficiaries of that age. Round to 2 decimal points

In [116]:
def avg_bmi(age):
  # Write your code here
  data = insurance.loc[insurance['age'] == age]['bmi'].mean()
  return round(data, 2)

In [117]:
avg_bmi(18)

31.33

In [118]:
avg_bmi(61)

32.55

# 7. The number of times the charges increased by more than $10,000.00 from one person to next in order

In [119]:
ar2=[]
def charge_increased():
    insurance['charges'].apply(lambda x:ar2.append(x))
    ct=0
    for i in range(len(ar2)-1):
      if ar2[i+1]-ar2[i]>10000:
        ct+=1
    return ct
charge_increased()

281

# 8. Whether or not the charges has ever been $2000.00 or less (your code should evaluate to True or False).

In [120]:
def charge_less():
    df3=insurance[insurance["charges"]<=2000.00]
    return len(df3.index)>0
charge_less()

True

# 9. The probability of choosing a charge greater than $2500.00, if I pick one of the charge uniformly at random . 2 decimal place

In [121]:
def prob_greater():
    df4 = insurance.loc[insurance['charges'] > 2500]
    pg = df4.shape[0]/insurance.shape[0]
    return round(pg,2)
prob_greater()

0.89

# Import data

In [122]:
import pandas as pd
trip=pd.read_csv('https://raw.githubusercontent.com/data-8/materials-x18/master/lec/x18/1/trip.csv')

In [123]:
trip.head()

,Trip ID,Duration,Start Date,Start Station,Start Terminal,End Date,End Station,End Terminal,Bike #,Subscriber Type,Zip Code
0,913460,765,8/31/2015 23:26,Harry Bridges Plaza (Ferry Building),50,8/31/2015 23:39,San Francisco Caltrain (Townsend at 4th),70,288,Subscriber,2139
1,913459,1036,8/31/2015 23:11,San Antonio Shopping Center,31,8/31/2015 23:28,Mountain View City Hall,27,35,Subscriber,95032
2,913455,307,8/31/2015 23:13,Post at Kearny,47,8/31/2015 23:18,2nd at South Park,64,468,Subscriber,94107
3,913454,409,8/31/2015 23:10,San Jose City Hall,10,8/31/2015 23:17,San Salvador at 1st,8,68,Subscriber,95113
4,913453,789,8/31/2015 23:09,Embarcadero at Folsom,51,8/31/2015 23:22,Embarcadero at Sansome,60,487,Customer,9069

# 10. Trip dataset Average duration of rentals that lasted more than two minutes. 2 decimal point

In [124]:
def avg_duration():
    # Write your code here
    return round(trip[trip['Duration'] > 120]['Duration'].mean(),2)
avg_duration()

1054.17

# 11. Name the stations where most rentals ended

In [130]:
def rent_end():
    # Write your code here
    return trip.groupby('End Station').count().sort_values('Trip ID',ascending=False).index[0]
rent_end()

'San Francisco Caltrain (Townsend at 4th)'

# 12. The number of stations for which the average duration ending at that station was atleat 300 seconds

In [126]:
def avg_value():
    # Write your code here
  
    return trip[trip['Duration'] >= 300].groupby('End Station').mean().count()[0]
avg_value()

70

# 13. The most popular subsciber type where the start terminal and end terminal is the same

In [127]:
def sub_type():
    # Write your code here
    return trip[trip['Start Terminal'] == trip['End Terminal']]['Subscriber Type'].mode()[0]
sub_type()

'Customer'

# 14. What is the average duration of the most popular bike#. 2 decimal point

In [128]:
def avg_duration1():
    # Write your code here
    df6 = trip.loc[trip['Bike #'] == trip['Bike #'].mode()[0]]
    return round(df6['Duration'].mean(),2)
avg_duration1()

898.14

# 15. What is the probability that the start station and end station are the same, 2 decimal points

In [129]:
def prob_equal():
    df5=trip[trip['Start Station']==trip['End Station']]
    return round(len(df5)/len(trip),2)
prob_equal()

0.03

# 16. Least common subsciber with Startimg station as Mountain View City Hall

In [131]:
def least_common():
    # Write your code here
    return trip.loc[trip['Start Station']=='Mountain View City Hall'].groupby('Subscriber Type').count().sort_values(by='Trip ID').index[0]
least_common()

'Customer'

# 17. What proportion of users have most common Subsciber types. 2 decimal places

In [133]:
def proportion_subscriber():
    df8=trip[trip['Subscriber Type']==trip['Subscriber Type'].mode()[0]]
    a=df8.shape[0]
    b=trip.shape[0]
    return round(a/b,2)
proportion_subscriber()

0.88

# Create dataframe

In [135]:
a ={'time':['hr=01,rush=no','hr=13,rush=no','hr=08,rush=yes','hr=18,rush=yes'] ,'dt':['May 1','May 3','May 29','May 3'], 'spd':[70,59,37,30]}
b={'date':['Jan 1','May 1','Jun 13','May 3'],'day':['Mon','Wed','Sat','Thu']}

In [164]:
rush=pd.DataFrame(a)
date=pd.DataFrame(b)
rush["hour"]=rush["time"].str.split(",", expand=True)[0].apply(lambda x: int(x[-2:]))
rush["rush"]=rush["time"].str.split(",", expand=True)[1].apply(lambda x: x[5:])
rush.drop(['time'], axis=1,inplace=True)
#rush.head()
# create a dataframe rush from dictionary a and date from dictionary b

# 18. Calculate the average speed during rush hour.1 decimal point

In [138]:
def avg_speed():
    # Write your code here
    return round( rush.loc[(rush['time'].str.endswith('yes'))]['spd'].mean(),1)
avg_speed()

33.5

# 19. Create a table t with one row per recording in rush. Each row should contain the day of week, speed, hour of day as a two-character string, and whether the recording occurred during rush hour (either “yes” or “no”)

In [166]:
def create_df():
  # Write your code here
  t=rush.merge(date, left_on='dt', right_on='date')
  t=t.drop(['dt','date'], axis=1)
  t['day']=t['day'].apply(lambda x:x[:2])
  return t
create_df()

   spd  hour rush day
0   70     1   no  We
1   59    13   no  Th
2   30    18  yes  Th

# 20. Use the result of above question as input. Find the minimum speed in a cluster sample with two clusters: take a sample of two unique values in day, then find the minimum speed across all recordings on those days of the week

In [ ]:
def min_speed():
  # Write your code here
  return # Write your code here
min_speed()