In [2]:
import pandas as pd
import numpy as np

In [3]:
 df2 = pd.DataFrame({'A': 1.,
                       'B': pd.Timestamp('20130102'),
                        'C': pd.Series(1, index=list(range(4)),dtype='float32'),
                        'D': np.array([3] * 4, dtype='int32'),
                        'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'}, columns=['A','B','C','D','E','F'])
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [6]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [7]:
df2.to_numpy

<bound method DataFrame.to_numpy of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [8]:
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [9]:
df2.T

,0,1,2,3
A,1,1,1,1
B,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00
C,1,1,1,1
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

In [10]:
df2.sort_values(by='B')

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [13]:
df2.sort_index(axis=0,ascending='False')

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [14]:
df2.set_index('B',inplace=True)

In [15]:
df2['A']

B
2013-01-02    1.0
2013-01-02    1.0
2013-01-02    1.0
2013-01-02    1.0
Name: A, dtype: float64

In [20]:
df2[0:]

              A    C  D      E    F
B
2013-01-02  1.0  1.0  3   test  foo
2013-01-02  1.0  1.0  3  train  foo
2013-01-02  1.0  1.0  3   test  foo
2013-01-02  1.0  1.0  3  train  foo

In [75]:
df2['20130102':'20130103']

              A    C  D      E    F
B
2013-01-02  1.0  1.0  3   test  foo
2013-01-02  1.0  1.0  3  train  foo
2013-01-02  1.0  1.0  3   test  foo
2013-01-02  1.0  1.0  3  train  foo

In [82]:
df2.loc[:,['A','B']]

     A          B
0  1.0 2013-01-02
1  1.0 2013-01-02
2  1.0 2013-01-02
3  1.0 2013-01-02

In [87]:
df2['D'][2]

3

In [21]:
df3=pd.read_csv("weather (1).csv")

In [22]:
df3.columns

Index(['day', 'chicago', 'chennai', 'berlin'], dtype='object')

In [23]:
df3.head()

         day  chicago  chennai  berlin
0     Monday       32       75      41
1    Tuesday       30       77      43
2  Wednesday       28       75      45
3   Thursday       22       82      38
4     Friday       30       83      30

In [31]:
df3.mean(axis=1)

0    49.333333
1    50.000000
2    49.333333
3    47.333333
4    47.666667
5    48.666667
6    49.666667
dtype: float64

In [32]:
df3.apply(lambda x: x[1:4],axis=0)

         day  chicago  chennai  berlin
1    Tuesday       30       77      43
2  Wednesday       28       75      45
3   Thursday       22       82      38

In [33]:
df3.loc[:,['day']]

         day
0     Monday
1    Tuesday
2  Wednesday
3   Thursday
4     Friday
5   Saturday
6     Sunday

In [36]:
# Define the headers since the data does not have any
headers = ["symboling", "normalized_losses", "make", "fuel_type", "aspiration",
           "num_doors", "body_style", "drive_wheels", "engine_location",
           "wheel_base", "length", "width", "height", "curb_weight",
           "engine_type", "num_cylinders", "engine_size", "fuel_system",
           "bore", "stroke", "compression_ratio", "horsepower", "peak_rpm",
           "city_mpg", "highway_mpg", "price"]
 
# Read in the CSV file and convert "?" to NaN
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data",
                  header=None, names=headers, na_values="?" )

In [37]:
df.shape

(205, 26)

In [38]:
df.dtypes

symboling              int64
normalized_losses    float64
make                  object
fuel_type             object
aspiration            object
num_doors             object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_cylinders         object
engine_size            int64
fuel_system           object
bore                 float64
stroke               float64
compression_ratio    float64
horsepower           float64
peak_rpm             float64
city_mpg               int64
highway_mpg            int64
price                float64
dtype: object

In [39]:
obj_df=df.select_dtypes(include=['object']).copy()
obj_df.head()

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi
3,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi
4,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi

In [40]:
obj_df[obj_df.isnull().any(axis=1)]

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
27,dodge,gas,turbo,NaN,sedan,fwd,front,ohc,four,mpfi
63,mazda,diesel,std,NaN,sedan,fwd,front,ohc,four,idi

In [41]:
obj_df["num_doors"].value_counts()

four    114
two      89
Name: num_doors, dtype: int64

In [43]:
obj_df["num_doors"].nunique()

2

In [23]:
obj_df=obj_df.fillna({"num_doors":"four"})

In [34]:
obj_df["num_cylinders"].value_counts()

NameError: name 'obj_df' is not defined

In [25]:
cleanup_nums={
    "num_doors":{"four":4,"two":2},
    "num_cylinders":{
        "four":4,"six":6,"five":5,"eight":8,
        "two":2,"twelve":12,"three":3
    }
}

In [26]:
obj_df.replace(cleanup_nums,inplace=True)
obj_df.head()

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi
1,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi
2,alfa-romero,gas,std,2,hatchback,rwd,front,ohcv,6,mpfi
3,audi,gas,std,4,sedan,fwd,front,ohc,4,mpfi
4,audi,gas,std,4,sedan,4wd,front,ohc,5,mpfi

In [27]:
obj_df.dtypes

make               object
fuel_type          object
aspiration         object
num_doors           int64
body_style         object
drive_wheels       object
engine_location    object
engine_type        object
num_cylinders       int64
fuel_system        object
dtype: object

In [28]:
obj_df.describe()

        num_doors  num_cylinders
count  205.000000     205.000000
mean     3.131707       4.380488
std      0.993715       1.080854
min      2.000000       2.000000
25%      2.000000       4.000000
50%      4.000000       4.000000
75%      4.000000       4.000000
max      4.000000      12.000000

In [29]:
obj_df["body_style"]=obj_df["body_style"].astype('category')
obj_df.dtypes

make                 object
fuel_type            object
aspiration           object
num_doors             int64
body_style         category
drive_wheels         object
engine_location      object
engine_type          object
num_cylinders         int64
fuel_system          object
dtype: object

In [30]:
obj_df["body_style_cat"]=obj_df["body_style"].cat.codes
obj_df.head()

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system,body_style_cat
0,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi,0
1,alfa-romero,gas,std,2,convertible,rwd,front,dohc,4,mpfi,0
2,alfa-romero,gas,std,2,hatchback,rwd,front,ohcv,6,mpfi,2
3,audi,gas,std,4,sedan,fwd,front,ohc,4,mpfi,3
4,audi,gas,std,4,sedan,4wd,front,ohc,5,mpfi,3

In [32]:
pd.get_dummies(obj_df,columns=["drive_wheels"]).head()

,make,fuel_type,aspiration,num_doors,body_style,engine_location,engine_type,num_cylinders,fuel_system,body_style_cat,drive_wheels_4wd,drive_wheels_fwd,drive_wheels_rwd
0,alfa-romero,gas,std,2,convertible,front,dohc,4,mpfi,0,0,0,1
1,alfa-romero,gas,std,2,convertible,front,dohc,4,mpfi,0,0,0,1
2,alfa-romero,gas,std,2,hatchback,front,ohcv,6,mpfi,2,0,0,1
3,audi,gas,std,4,sedan,front,ohc,4,mpfi,3,0,1,0
4,audi,gas,std,4,sedan,front,ohc,5,mpfi,3,1,0,0

In [33]:
obj_df["drive_wheels"].nunique()

3

In [34]:
pd.get_dummies(obj_df,columns=["body_style","drive_wheels"],prefix=["body","drive"]).head()

,make,fuel_type,aspiration,num_doors,engine_location,engine_type,num_cylinders,fuel_system,body_style_cat,body_convertible,body_hardtop,body_hatchback,body_sedan,body_wagon,drive_4wd,drive_fwd,drive_rwd
0,alfa-romero,gas,std,2,front,dohc,4,mpfi,0,1,0,0,0,0,0,0,1
1,alfa-romero,gas,std,2,front,dohc,4,mpfi,0,1,0,0,0,0,0,0,1
2,alfa-romero,gas,std,2,front,ohcv,6,mpfi,2,0,0,1,0,0,0,0,1
3,audi,gas,std,4,front,ohc,4,mpfi,3,0,0,0,1,0,0,1,0
4,audi,gas,std,4,front,ohc,5,mpfi,3,0,0,0,1,0,1,0,0

In [35]:
obj_df["engine_type"].value_counts()

ohc      148
ohcf      15
ohcv      13
l         12
dohc      12
rotor      4
dohcv      1
Name: engine_type, dtype: int64

In [36]:
obj_df["OHC_Code"]=np.where(obj_df["engine_type"].str.contains("ohc"),1,0)

In [37]:
obj_df[["make","engine_type","OHC_Code"]].head()

          make engine_type  OHC_Code
0  alfa-romero        dohc         1
1  alfa-romero        dohc         1
2  alfa-romero        ohcv         1
3         audi         ohc         1
4         audi         ohc         1

In [38]:
from sklearn.preprocessing import LabelEncoder

In [39]:
lb_make=LabelEncoder()
obj_df["make_code"]=lb_make.fit_transform(obj_df["make"])
obj_df[["make","make_code"]].head(11)

           make  make_code
0   alfa-romero          0
1   alfa-romero          0
2   alfa-romero          0
3          audi          1
4          audi          1
5          audi          1
6          audi          1
7          audi          1
8          audi          1
9          audi          1
10          bmw          2

In [41]:
from sklearn.preprocessing import LabelBinarizer
lb_make=LabelBinarizer()
lb_style=lb_style.fit_transform(obj_df["body_style"])
pd.DataFrame(lb_results,column=lb_style.classes).head()

NameError: name 'lb_style' is not defined

In [42]:
df=pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/biopics/biopics.csv',encoding='latin1')

In [45]:
df.dtypes

title                 object
site                  object
country               object
year_release           int64
box_office            object
director              object
number_of_subjects     int64
subject               object
type_of_subject       object
race_known            object
subject_race          object
person_of_color        int64
subject_sex           object
lead_actor_actress    object
dtype: object